
$secondary: #FA5959;
$primary:   #5265E1;

$container-max-widths: (
   sm: 540px,
   md: 768px,
   lg: 991px,
   xl: 1140px,
   xxl: 1320px
);

.imagen{
   background-image: url(./Imagenes/Fondo-EJ1.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position-y: 10em;
   background-position-x: 15em;
   
}


/*FIN DEL EJERCICIO 1*/

$nav-tabs-link-active-border-color: #ffffff;

#myTab button.active {
    border-bottom: solid 3px #FA5959; 
    color: black; 
    font-weight: 500;
}

#myTab button{
   color: #adb5bd;
   font-weight: 500;
}

.imagen_2{
   background-image: url(./Imagenes/Fondo-EJ2.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position-y: 5em;
   background-position-x: -9.5em; 
}
.para_b2{
   color: #adb5bd;
   font-weight: 500;
}

/*FIN EJERCICIO 2*/

    .card-text{
      color: #adb5bd;
     font-weight: 500;
    }

    .dot{
    border-bottom:5px dotted #dbdcdd; 
    width: auto;
    color: white;
}
/*FIN EJERCIO 3*/

.myacordion{
    max-width: 500px;
    margin: 50px auto;
}

.texto{
    color: black;
}
$accordion-button-color:$primary;

/*FIN EJERCICIO 4*/

.superior{
    background-color: #5265E1;
    color: #fff;
}
.link{
    font-weight: 300;
}
.inferior{
    background-color: #242946;
    color: #fff;
}
.footer{
    text-align: end;
}
::placeholder{
    color: #ebeef0;
    opacity: 0.1;
    font-size: small;
}
/*FIN EJERCICIO 5*/

#primario:hover{
    color: #5265E1;
    background: #ffffff;
    border: 2px solid #5265E1;
}
#enlace_1:hover{
    color:#FA5959;
}
#secundario:hover{
    color: #FA5959 !important;
    background: #ffffff;
    border: 2px solid #FA5959;
}
#tercero:hover{
    color: black !important;
    background: #ffffff !important;
    border: 2px solid black !important;
}

#myTab button:hover{
    color:#FA5959;
}
.texto:hover{
    color: #FA5959;
}
.texto:active{
    color: black;
}
$accordion-icon-active-color:$secondary;
.link:hover{
    color: #FA5959 !important ;
}
.fa-facebook:hover{
    color: #FA5959;
}
.fa-twitter:hover{
    color: #FA5959;
}

@media (max-width: 991px){
    .logo{
        width: 25%;
    }
    #col_1{
        justify-content: center;
        text-align:center;
    }
    .imagen{
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: 5em;
        background-position-x: 10em;
    }
    .imagen_2{
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: 5em;
        background-position-x: -5em; 
        padding-bottom: 3em;
    }
    #bloque_2   #col_1{
        width: 100%;
        margin:auto;
    }
    .tarjetas{
        width:100%;
    }
    #tar_cont{
        margin:auto;
    }
    .superior{
        padding-bottom: 20px;
    }
    #form{
        margin-top: 15px;
        display:flex;
        flex-direction:column;
    }
    #form .form-control {
        width:100%;
    }
    .logo_2{
        
        margin-left: auto;
        margin-right: auto;
    }
    #menu{
        flex-direction:column;
        width: 100%;
    }
    .link{
        margin:auto;
    }
    #form .btn-secondary{
        margin-top:1em;
    }
    
 }
 @media (max-width: 540px){
 
    #myTab{
        flex-wrap: wrap;
        width:100%;
        border-bottom: 0.1px rgb(189, 186, 186) solid; 
    
    }
    .nav-item{
        width: 100%;
        display: flex;
        border-top: 0.1px rgb(189, 186, 186) solid;
 
    }
    #myTab button{
        margin: auto;  
    }
    #myTab #profile-tab{
         margin: auto;
    }
    #myTab #contact-tab{
        margin: auto;
    }


 
 }
 

 @import "../node_modules/bootstrap/scss/bootstrap";